.btn{
    font-size: 20px;
    color:black;
    border-style: solid;
    border-color: black;
    background-color: white;
    padding: 10px 50px;
    font-weight: 900;
    margin:10px;
    /* transition: all 1s ; */

}

.btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow:4px 6px 9px 0px #ff00007d;
    transform: rotate(10deg);
    transform-origin: -20px -20px;
}